#filter-time
{    
    margin: 10px 0px 20px 40%;
}
div.title {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin: 10px 0px;
}

label {
    line-height: 25px;
    color: #196ECF;
    margin: 10px;
}