
<div id= "nav-content">

    <div id="DnI">Data and Insights </div>
    
    <div id="tile1">
        <p>See Areas Effected by COVID-19</p>
        <button (click) = "Clicked('http://voyager.mhars2.optum.com/uhcbi/manual/c3684abf-22ad-6ca9-9575-66657df87984')">Explore Map</button>
    </div>
    
    <!-- <div id="row"> -->
    <a routerLink= "/results" class="search">
        <div id="tile2">
            <div id="heading">Articles & Intelligence</div>
            <p>Our bots have combed the web for CDC, DOH and other updates from national to local web sources </p>
            <div id="search">Search Updates </div>
        </div>
    </a>
    
    
    <a (click)="Clicked('http://osms.uhc.com/COVID-19/SitePages/Home.aspx')" class="test">
        <div id="tile3">
        <div id="heading">Testing Sites</div>
        <p>Find the latest on local testing sites.</p>
        <div id="goto">Go to Sharepoint</div>
        </div>
    </a>
    
    <!-- </div> -->
    
    <!-- <div id="HC">Health Conditions </div>
    
    <mat-grid-list cols="2" [rowHeight]="280" [gutterSize]="20">
        <mat-grid-tile [colspan]="2" [rowspan]="1" >tile 1</mat-grid-tile>
        <mat-grid-tile>tile2</mat-grid-tile>
        <mat-grid-tile>tile3</mat-grid-tile>
    </mat-grid-list> -->
    
    </div>
    
<div id="footer">
        <div id = "label1">PRIVACY POLICY </div>
        <div id = "label2">TERMS OF USE </div>
        <div id = "label3"> &copy;2020 UnitedHealth Group. All rights reserved. </div>     
</div>
    
    