div.title {
    position: absolute;
    bottom: 0px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin: 10px 0px 20px 0px;
}

div.row
{
    position: relative;
    top: 0px;
    left: 100px;
    right: 0px;
    height: 25px;
    line-height: 25px;
    padding: 0px;
}

div.check-column
{
    display: inline-block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px; 
    width: 30px;
}

div.label-column
{
    position: absolute;
    top: 0px;
    bottom: 3px;
    left: 30px; 
    right: 0px;
}

label 
{
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color:black;
}

input 
{
    position: absolute;
    bottom: 10px;    
}

select {
    display: inline-block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 30px;
    width: 150px;
    color: #196ECF;
    font-size: 16px;    
    font-family: Arial;
}
